---
import LocalChart from './LocalChart';

interface Props {
  indicatorKey: string;
  color: string;
  name: string;
  id?: string;
}

const { indicatorKey, color, name, id } = Astro.props;
---

<div class="relative" id={id}>
  <LocalChart client:load indicatorKey={indicatorKey} color={color} />
</div>
